﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
          rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    @*<script src="~/js/jquery.min.js"></script>*@


    <script src="//cdn.datatables.net/v/dt/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.11.3/pagination/input.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <script src="~/js/CreateConversation.js"></script>
    <script src="~/editor.js"></script>
    <link href="~/editor.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/custom.css">
    <link href="~/css/style.css" rel="stylesheet" />

    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script src="~/js_new/sweetalert.min.js"></script>
</head>

<body>
      <div class="loader-wrapper show2">
        <div class="loader"></div>
    </div>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-custom">
            <a class="navbar-brand ml-0" href="#">
                <img src="~/img_new/logo.png" class="logo" />
            </a>
            <div class="w-100" id="navbarSupportedContent">
                <ul class="navbar-nav custom-right-nav w-100">
                    <partial name="_LoginPartial" />
                </ul>
            </div>

            <a href="#" class="icon-bar ml-auto">
                <i class="material-icons">
                    menu
                </i>
                @*<i class="fa fa-bars"></i>*@
            </a>

        </nav>
        <sidebar id="sidebar">
            <ul>
                 <li><a href="/Admin/Dashboard/Index" class="lnkDash"><i class="fa fa-dashboard"></i> Dashboard </a> </li>
                 <li><a href="/Admin/Driver/Index" class="lnkDash"><i class="fa fa-dashboard"></i> Drivers </a> </li>
        

            </ul>
        </sidebar>


    }




    @RenderBody()
        <div class="footer-align">
        <div class="col-md-12 copy-text">
            © @DateTime.Now.Year KiChiSagaTrading . All rights reserved
        </div>
    </div>
  <script src="~/js/popper.min.js"></script>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };

    $(".loader-wrapper").removeClass("show2");

</script>


<script src="~/js_new/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
