body {
    background: #eeeeee !important;
}

.alert-dangerchild, .alert-dangerbillingType {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-dangerparent {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.login-container {
    display: flex;
    background: url('../images/loginbg.png');
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}


.form-container {
    width: 600px;
    background: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-heading {
    font-size: 45px;
    font-weight: bold;
    color: #10497e;
    padding-top: 20px;
    padding-bottom: 10px
}

.login-container p,
.login-container p a {
    color: #00274d;
}

.login-container .form-control.custom {
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    padding: 0px;
    color: #000;
}

.login-container label {
    color: #717171;
}

.btn-login {
    background: linear-gradient(-90deg, #cc242c, #962328);
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

    .btn-login:hover {
        background: linear-gradient(-90deg, #962328, #cc242c);
    }

.forget-text {
    color: #10497e;
    font-weight: 500;
}

.social-links a {
    color: #1ca3db
}

    .social-links a:hover {
        color: #007bff;
    }


/* -----------------------css for Dashboard--------------------- */

a:hover,
a:active,
a:focus {
    color: initial;
    text-decoration: none;
}

.welcome-text {
    display: block;
    padding-top: 8px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}

.logout-text {
    color: #ff5253 !important;
    font-weight: 600;
    font-size: 18px;
    margin-top: 36px;
    transition: all 0.2s ease-in-out;
}

nav.bg-custom form.form-inline .logout-text:hover {
    color: #333 !important;
}

.main-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    margin: 20px 0px;
}

nav.bg-custom {
    background: #ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    height: 75px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    flex-direction: row;
}

a.navbar-brand {
    margin-right: 3px;
    margin-left: 80px;
    margin-top: 0;
    padding-top: 0;
}

.icon-bar {
    border-radius: 100%;
    font-size: 35px;
    color: #010101;
    padding-top: 14px;
    position: absolute;
    right: 24px;
    top: 0px;
    transition: all 0.2s ease-in-out;
}

    .icon-bar .material-icons {
        font-size: 35px;
    }

    .icon-bar:hover {
        color: #136638;
    }

.custom-right-nav li:not(:last-child) {
    /* border-right: solid 1px #ccc; */
    padding: 0px 11px 0px 11px;
}

.custom-right-nav li:last-child {
    padding: 0px 11px 0px 11px;
}

sidebar {
    width: 320px;
    display: flex;
    height: calc(100% - 75px);
    background: #00548b;
    position: fixed;
    top: 96px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    left: 0;
    overflow: hidden auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.toggled sidebar {
    left: -290px;
}

sidebar ul li a.heading {
    background: #fff;
}

sidebar ul,
sidebar ul li ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}

    sidebar ul li ul li {
        margin: 16px 0px;
    }

        sidebar ul li ul li a:hover {
            color: #fff;
            text-decoration: none;
        }

    sidebar ul li a .fa-angle-down {
        float: right;
        margin-right: 18px;
        margin-top: 3px;
        font-size: 21px;
    }


/* ul li a .fa, ul li a .fas{
        font-weight: bold;
    } */

ul li ul li a .fa,
ul li ul li a .fas {
    padding-right: 20px;
}

sidebar ul li a .fa {
    width: 22px;
}

sidebar ul li a:hover,
sidebar ul li a:focus,
sidebar ul li a:active {
    background: #003253;
    display: block;
    width: 100%;
    padding: 24px 10px;
    margin: 0px 0px 0px;
    border-radius: 0px;
    color: #ff5253;
    font-size: 16px;
    text-decoration: none;
}

sidebar ul li a.active {
    background: #003253;
    display: block;
    width: 100%;
    padding: 24px 10px;
    margin: 0px 0px 0px;
    border-radius: 0px;
    color: #ff5253;
    /* border-left: solid 4px #ff6004; */
    font-weight: 600;
    font-size: 16px;
}

sidebar ul li a {
    display: block;
    padding: 24px 10px;
    margin: 0px 0px;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s ease-in-out
}


/* sidebar submenu */

sidebar ul.sub-menu1 > a {
    margin: 0;
}

sidebar ul.sub-menu1 li {
    margin: 0;
}

    sidebar ul.sub-menu1 li a {
        background: #1076b8;
        padding: 5px 5px 5px 30px;
        margin: 0;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
    }

        sidebar ul.sub-menu1 li a:hover {
            background: #fff;
            color: #1076b8;
        }

sidebar ul li.in-nav {
    margin-bottom: 0;
}

    sidebar ul li.in-nav > a {
        margin: 0;
    }

sidebar ul.sub-menu1 {
    display: none;
}

sidebar ul li.in-nav.open ul.sub-menu1 {
    display: block;
}


/* End Sidebar submenu */

.right-section {
    width: calc(100% - 316px);
    margin-left: 300px;
    /* background: #ffffff; */
    /* height: 248px; */
    margin-top: 75px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    z-index: 1;
}

.toggled .right-section {
    width: 100%;
    margin-left: 0px;
    padding: 0 15px;
}

.custom-select-custom {
    position: relative;
    font-family: Arial;
    color: #000000;
    border-top: solid 1px #a6a6a6;
}

    .custom-select-custom select {
        display: none;
        /*hide original SELECT element:*/
    }

.select-selected {
    background-color: #ffffff;
    color: #000000;
}


    /*style the arrow inside the select element:*/

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #000 transparent transparent transparent;
    }


    /*point the arrow upwards when the select box is open (active):*/

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #000 transparent;
        top: 7px;
    }


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #000000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    border-bottom: solid 1px #a6a6a6;
    border-left: solid 1px #a6a6a6;
    border-right: solid 1px #a6a6a6;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-top: solid 1px #a6a6a6;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(9, 78, 143, 1);
    color: #ffffff;
}

.custom-input-text {
    width: 25%;
    border-radius: 0px;
    height: 42px;
}

.w-40 {
    width: 40% !important;
}

.bg-red {
    background: #a21c23;
    float: left;
    width: 100%;
}

    .bg-red span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.bg-green {
    background: #55a508;
    float: left;
    width: 100%;
}

    .bg-green span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.bg-orange {
    background: #eb9b01;
    float: left;
    width: 100%;
}

    .bg-orange span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.bg-blue {
    background: #005597;
    float: left;
    width: 100%;
}

    .bg-blue span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.top-holders h2 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 17px;
    display: inline-block;
    float: left;
}

    .top-holders h2 span {
        font-size: 19px;
        font-weight: normal;
    }

.dataTables_filter label input {
    width: 298px;
    position: absolute;
    top: 8px;
    height: 29px;
}

.dataTables_filter label {
    width: 100%;
    margin-bottom: 25px;
}

.dataTables_filter {
    width: 300px;
    position: absolute;
    right: 26px;
    top: -41px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    /*background-color: #ff5253;
    border-color: #ff5253;*/
    background-color: #808080;
    border-color: #808080;
    padding: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
    min-width: 35px;
}


.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
    padding: 0px;
    padding-top: 6px;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0px;
    padding-top: 6px;
}

.page-item:last-child .page-link {
    padding: 0px 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.page-item:first-child .page-link {
    margin-left: 0;
    padding: 0px 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-right: 15px;
}

.dataTables_wrapper .dataTables_info {
    padding-left: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent;
    border: solid 1px transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: inherit !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0px;
    padding: 0px 4px;
}

.conv-custom .dataTables_wrapper .dataTables_filter label {
    margin-bottom: 14px;
    position: absolute;
    right: 0;
    bottom: 0px;
    top: 0px;
}

a.all-delete-icon.del {
    position: absolute;
    z-index: 2;
    top: -36px;
    left: calc(100% - 339px);
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
span.view-icon {
    cursor: pointer;
    font-size: 18px;
}
a.all-delete-icon.delArchive {
    position: absolute;
    z-index: 2;
    top: -34px;
    left: calc(100% - 337px);
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
    a.all-delete-icon.del .fa {
        margin: 0;
        padding: 0;
    }

.report-h2 {
    margin: 0px;
    padding: 20px 0px 20px 20px;
    color: #00558c;
    text-transform: uppercase;
    font-size: 24px;
}

.pink-bg {
    background: #D3D3D3 !important;
}

.gray-bg {
    background: #808080 !important;
    border-radius: 2px;
    border: transparent;
    padding: 10px 20px;
    box-shadow: 0px 3px 10px rgba(255, 82, 83, 0.3);
    color: #fff !important;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    line-height: unset;
}



.dataTables_filter .fa-search {
    z-index: 91;
    position: absolute;
    right: 4px;
    top: 14px;
    color: #ccc;
}

.search-btn {
    border-radius: 50px;
    padding: 6px 30px;
    background: #156ab6;
    border: solid 1px #156ab6;
    text-transform: uppercase;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 14px 10px;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 10px;
    background: #ffffff;
    color: #585858;
    border-bottom: 0;
}

.statement-tbl table.dataTable thead th:last-child {
    text-align: center;
}

.statement-tbl table.dataTable tr td:last-child {
    text-align: center;
}


a.pay {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #ff6004;
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #ff6004;
    font-weight: 500;
}

    a.pay.grey {
        color: #9c9da8;
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid #9c9da8;
        border-radius: 20px;
        min-width: 150px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500
    }

        a.pay.grey:hover {
            background: #ddd;
            color: #000;
            border-color: #000;
        }

    a.pay:hover {
        background: #ff6004;
        border-color: transparent;
        color: #fff;
    }

.action i.fa.fa-file-pdf-o {
    font-size: 22px;
    color: #00558c;
}

.action a,
.action a:hover {
    text-decoration: none;
}

.action .fa-eye {
    color: #c7c7c7;
}

    .action .fa-eye:hover {
        color: #000000;
    }

.action .fa-edit {
    color: #c7c7c7;
}

    .action .fa-edit:hover {
        color: #005597;
    }

.action .fa-trash {
    color: #c7c7c7;
}

    .action .fa-trash:hover {
        color: #a21c23;
    }

.copy-text {
    text-align: center;
    font-size: 12px;
    color: #999;
}

.footer-align {
    margin-top: auto !important;
    width: calc(100% - 320px);
    margin-left: 320px;
    padding-bottom: 20px;
}

.box-shadow-white-bg {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* 31-10-2019 */

.agree_check label {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.terms_and_conditions .modal-header .modal-title {
    font-size: 18px;
    text-transform: uppercase;
}

.terms_and_conditions .modal-header {
    padding: 5px 15px;
}

    .terms_and_conditions .modal-header .close {
        color: #fff;
        opacity: 1;
        padding: 0 0;
        margin: -2px -10px 0 0;
    }

.agree_check .form-group {
    position: relative;
    /* margin: 3rem 0 0; */
}

.agree_check input[type="checkbox"] {
    display: none;
}

.agree_check .form-check label {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    padding-left: 29px;
}

    .agree_check .form-check label:before,
    .agree_check .form-check label:after {
        content: '';
        position: absolute;
    }

    .agree_check .form-check label:before {
        left: 0;
        top: 2px;
        height: 18px;
        width: 18px;
        border: 1px solid #828282;
        border-radius: 3px;
    }

    .agree_check .form-check label:after {
        left: 3px;
        top: 6px;
        height: 6px;
        width: 12px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(-45deg) scale(0);
        -ms-transform: rotate(-45deg) scale(0);
        transform: rotate(-45deg) scale(0);
        transition: all .3s linear;
    }

.agree_check .form-check input:checked + label::before {
    background: #1569b5;
    border-color: #1569b5;
}

.agree_check .form-check input:checked + label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.data_table table.dataTable thead th,
.data_table table.dataTable thead td {
    background-color: #ffffff;
    padding: .75rem;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-align: left;
}

.data_table .report-h2 {
    background: #1569b5;
    color: #fff;
    margin: 30px 10px -10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.17);
    position: relative;
    top: -20px;
    padding: 15px 15px;
    font-size: 20px;
}

.data_table table.dataTable tbody td {
    padding: 10px 10px;
    border-bottom: 1px solid #dee2e6;
    border-top: solid 0px;
}

.data_table table.dataTable.profile-table tbody td:last-child {
    text-align: right;
}

.profile-table thead tr th:last-child {
    text-align: right;
}

.profile-table thead tr th:nth-child(1) {
    width: 25%;
}

.profile-table thead tr th:nth-child(2) {
    width: 25%;
}


/*custome check boxes*/
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    transition: all 0.3s ease-in-out;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 3px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*end*/




.data_table {
    border-radius: 0px;
}

.main_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.data_table .table thead th {
    /*border-bottom: 1px solid #dee2e6;*/
    border-bottom: 1px solid #5f5f5f;
    text-transform: uppercase;
    color: #333;
}

.data_table .table thead td {
    border-bottom: 1px solid #dee2e6;
}

.right-section {
    position: relative;
    padding-bottom: 20px;
    height: auto;
    min-height: 83vh;
    /* 21,jan2020  */
}


/* end 31-10-2019 */


/* 8-11-2019 */

body {
    overflow-x: hidden;
}

.navbar {
    padding: .1rem 1rem;
}

nav.bg-custom form.form-inline {
    margin: 0;
}

    nav.bg-custom form.form-inline .logout-text {
        background: transparent;
        border: 0;
        padding: 0;
    }

nav.bg-custom ul.navbar-nav {
    -webkit-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.logo {
    width: 70px;
}

#sidebar {
    width: 285px;
    display: flex;
    height: calc(100% - 75px);
    background: #00548b;
    position: fixed;
    top: 70px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    left: 0;
    overflow: hidden auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.report-head {
    background: #003253;
    color: #fff;
    padding: 7px 13px;
    border-radius: 0px;
    margin: 0px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
}

.view-more {
    font-size: 13px;
    color: #ff9b61;
    margin: 2px 0 0 0;
}

.toggled #sidebar {
    left: -320px;
}

.welcome-text {
    padding-top: 0;
}

.advertisement h3 {
    font-size: 18px;
    color: #000;
    margin: 16px 0 10px 0;
}

.data_table .table tbody td {
    padding: 10px 10px;
    font-size: 15px;
}



.data_table {
    min-height: 212px;
}

    .data_table.data_table_cust {
        min-height: 240px;
        max-height: 100%;
    }

.account-summary-table tr td:last-child {
    text-align: right;
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

.data_table .table.account-summary-table tbody td {
    border-top: solid 0px #ccc;
    padding: 4px 24px;
}

    .data_table .table.account-summary-table tbody td:first-child strong {
        color: #858585;
        font-size: 17px;
        font-weight: 500;
    }

.billing-hist-table {
}


    .billing-hist-table .table-responsive {
        height: auto;
    }

        .billing-hist-table .table-responsive .table thead th {
            border-bottom: 1px solid #5f5f5f;
            text-transform: uppercase;
            color: #333;
            font-size: 13px;
        }

            .billing-hist-table .table-responsive .table thead th:last-child {
                text-align: right;
            }

            .billing-hist-table .table-responsive .table thead th:first-child {
                width: 47%;
            }

        .billing-hist-table .table-responsive .table tr td:last-child {
            text-align: right;
        }

        .billing-hist-table .table-responsive .table tr td {
            font-size: 16px;
            color: #636363;
        }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.advertisement img {
    /*width: 100% !important;*/
    height: 145px;
    margin: 0px 7px;
    border: solid 4px #d2d2d2;
}

    .advertisement img:hover {
        border: solid 4px #333333;
    }
/* end 8-11-2019 */
.pd-05 {
    padding: 0.5rem;
}

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.btn-blue-box {
    justify-content: space-between;
    border: 1px solid #fff;
    font-size: 12px;
    /*margin: 5px;*/
    padding: 15px 5px;
    background: #6da6dd;
    display: inline-flex;
    max-width: 170px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.a.btn.btn-primary.btn-green {
    background: #20aa5d;
    border-radius: 2px;
    border: transparent;
    padding: 10px 20px;
    box-shadow: 0px 3px 10px rgba(32, 170, 93, 0.3);
}

.btn-green {
    background: #20aa5d;
    border-radius: 2px;
    border: transparent;
    padding: 10px 8px;
    box-shadow: 0px 3px 10px rgba(32, 170, 93, 0.3);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    line-height: unset;
}

.btn-gold {
    background: #FFD700;
    border-radius: 2px;
    border: transparent;
    padding: 10px 8px;
    box-shadow: 0px 3px 10px rgba(32, 170, 93, 0.3);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    line-height: unset;
}

.text-dark-dash {
    font-weight: bold;
    color: #333;
}

.btn-green:hover {
    background: #136638;
    text-decoration: none;
    color: #fff;
}

.btn-red {
    background: #ff5253;
    border-radius: 2px;
    border: transparent;
    padding: 10px 20px;
    box-shadow: 0px 3px 10px rgba(255, 82, 83, 0.3);
    color: #fff !important;
    font-size: 17px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    line-height: unset;
}

    .btn-red:hover {
        background: #cc4242;
        text-decoration: none;
        color: #fff;
    }

.text-light-dash {
    color: #858585;
    text-transform: uppercase;
    padding: 3px 0px;
}

.text-light-heading {
    color: #cbd5dc;
    font-size: 17px;
    text-transform: none;
}

    .text-light-heading b {
        color: #fff;
        font-size: 17px;
    }

a.btn.btn-blue-box:hover {
    color: #fff;
    background: #1569b5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.profile-data table td:first-child {
    font-size: 16px;
}

.profile-data .dtr-inline.table td:first-child {
    text-align: center;
}

.credit-wrapper {
    max-width: 350px;
    margin: 5px auto;
    border: 1px solid #ddd;
    padding: 15px;
    background: #f7f5f5;
}


/*14,Jan2020*/

div#result .zoom a {
    display: block;
}

div#result .zoom {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
}

div#result img {
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

div#result .zoom a#edit,
div#result .zoom a#delete {
    display: inline-block;
}

.Pager .page {
    padding: 0 5px;
    width: auto;
    border-radius: 5px;
    border: 1px solid #bcd4ea;
    color: #fff !important;
    background: #6c757d;
}

.in-wrap {
    border: 1px solid #ddd !important;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

    .in-wrap + h5 {
        margin: 30px 0 20px;
    }

.d-inline-block {
    width: auto;
}


/*End*/


/* NewConversation CSS 20,Jan2020 */

.btn.btn-orange {
    color: #fff;
    background: #ff6004;
    border: 2px solid #ff6004;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    padding-left: 15px;
    padding-right: 15px;
}

.btn.btn-orange-outline {
    color: #ff6004;
    border: 2px solid #ff6004;
    border-radius: 50px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    padding-left: 15px;
    padding-right: 15px;
}

    .btn.btn-orange-outline:hover {
        background: #ff6004;
        color: #fff;
        border: 2px solid transparent;
    }

.white-box {
    background: #fff;
    /* padding: 15px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fbfbfb;
}

table.new-conv-tbl {
    font-size: 14px;
}

table.new-conv-tbl {
    background-color: #f1f2f4;
}

    table.new-conv-tbl.table-hover tbody tr:hover {
        color: #000;
        background-color: #fff;
    }

    table.new-conv-tbl th:last-child {
        text-align: center;
    }

.text-grey {
    color: #717171;
}

.wrapper-in {
    padding: 10px 10px 10px 0;
}

    .wrapper-in .fa {
        font-size: 18px;
        padding: 5px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    .wrapper-in a .fa:hover {
        border: 1px solid #ddd;
        border-radius: 5px;
    }

.bold {
    font-weight: 700;
}

.f12 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.max-345 {
    max-height: 345px;
    border-radius: 5px 0 0 5px;
    overflow: auto;
}

.new-conversation {
    background: #fff;
}

body.new-conversation .text-primary {
    color: #1569b5 !important;
}


/* ----------------------------------------------- Custom Checkbox ----------------------------------------------- */

.custom-check {
    display: none;
}

    .custom-check + label {
        color: #848484;
        font-size: 14px;
        position: relative;
        margin: 0;
        padding-left: 30px;
        font-weight: normal;
    }

        .custom-check + label:before {
            width: 20px;
            height: 20px;
            position: absolute;
            content: "";
            border: 2px solid #ddd;
            left: 0;
            top: 0;
            transition: all 0.3s;
            background: #fff;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
        }

    .custom-check:checked + label:before {
        background: #1569b5;
        border-color: #1569b5;
    }

    .custom-check + label:after {
        width: 12px;
        height: 7px;
        position: absolute;
        content: "";
        transition: all 0.3s;
        left: 4px;
        border: 2px solid transparent;
        transform: rotate(0deg);
        top: 4px;
    }

    .custom-check:checked + label:after {
        border-left-color: #fff;
        border-bottom-color: #fff;
        transform: rotate(-45deg);
    }

.scroll-account-summary {
    height: 117px;
    overflow: auto;
}

.online-heading {
    margin-bottom: 30px;
    margin-top: 20px;
}

/*#tblAutopay_wrapper {
    width: 92%;
    overflow: auto;
    margin-left: 15px;
}*/
/* ----------------------------------------------- Custom Checkbox ----------------------------------------------- */



/* ----------------------------------------------- Custom RolesPermission ----------------------------------------------- */
.row.cst-right, .row.save-back-btn {
    align-items: center;
}

.card-body.cst-padding .card-body li {
    list-style: none;
    width: auto;
    display: inline-block;
    margin-right: 40px;
}

    .card-body.cst-padding .card-body li:last-child {
        margin: 0px;
    }

.row.save-back-btn {
    margin: 20px auto;
}

#userlist th, #tblAutopay th {
    background-color: #003253 !important;
    color: #fff;
}

#userlist .table-icon li {
    display: inline-block;
    margin: 0 8px;
}

.customer-profile-table #tblAutopay_wrapper {
    width: 100%;
    overflow: auto;
    margin-left: 0;
}

#tblAutopay.profile-table tr td label {
    display: inline-block;
    width: 49%;
    font-size: 14px;
}

#tblAutopay.profile-table td.action {
    width: 220px;
}

    #tblAutopay.profile-table td.action button {
        padding: 10px;
        font-size: 12px;
    }




.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: unset;
    min-height: unset;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button a.page-link {
        min-width: 40px;
        min-height: 40px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

.cst-width-fix.collapse.show {
    display: table-row !important;
}

/*.modal-body.fix-h {
    max-height: calc(100vh - 170px);
    overflow: auto;
}*/

.data_table .table thead th,
.data_table .table td {
    white-space: normal;
    word-wrap: break-word;
}

.wrapper-ticket {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 120px;
    overflow: auto;
    margin-bottom: 10px;
    min-height: 100px;
    align-items: flex-start;
    padding-top: 45px;
}

    .wrapper-ticket a {
        /*margin: 0 3px 6px;*/
        min-width: 98px;
        display: inline-block;
        text-align: center;
        padding: 5px;
        position: relative;
    }

.statement_table_pd {
    padding-top: 45px;
    margin-top: -39px;
}

.statement_table_tab .report-head {
    width: 100%;
    padding: 10px 13px;
}
/* ----------------------------------------------- End Custom RolesPermission ----------------------------------------------- */
@media(max-width:1024px) {
    .right-section {
        width: 100%;
        margin-left: 0px;
        margin-top: 75px;
        padding: 0 15px;
    }

    #sidebar {
        z-index: 2;
        top: 75px;
    }


    .wrapper-ticket {
        max-height: initial;
    }
}

@media only screen and (max-width:990px) {

    div#navbarSupportedContent.w-100 {
        width: auto !important;
    }

    span.welcome-text {
        margin: -12px;
    }

    button.nav-link.logout-text {
        margin: 0;
    }
}

@media(max-width:1366px) {

    .btn-green {
        background: #156629;
        border-radius: 2px;
        border: transparent;
        padding: 10px 12px;
        box-shadow: 0px 3px 10px rgba(32, 170, 93, 0.3);
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        line-height: unset;
        margin-bottom: 5px;
    }

    .report-head {
        background: #003253;
        color: #fff;
        padding: 8px 13px;
        border-radius: 0px;
        margin: 0px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }

    h2.report-head.custom-head {
        height: 50px;
        line-height: 32px;
    }

    label.text-color {
        color: #fff !important;
        box-shadow: none;
    }

    .btn-red {
        background: #ff5253;
        border-radius: 2px;
        border: transparent;
        padding: 10px 20px;
        box-shadow: 0px 3px 10px rgba(255, 82, 83, 0.3);
        color: #fff !important;
        font-size: 15px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        line-height: unset;
    }
}

@media(max-width:992px) {
    .logout-text {
        margin-top: -52px;
    }

    .welcome-text {
        margin-top: -54px;
        font-size: 18px;
    }

    .btn-green {
        background: #20aa5d;
        border-radius: 2px;
        border: transparent;
        padding: 10px 20px;
        box-shadow: 0px 3px 10px rgba(32, 170, 93, 0.3);
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        line-height: unset;
        margin-top: 15px;
    }

    .navbar-brand {
        padding-left: 0;
    }
}


/* end NewConversation CSS */

@media(max-width:767px) {

    .right-section {
        width: 100%;
        margin-left: 0px;
        margin-top: 73px;
        padding: 0 15px;
    }

    #sidebar {
        z-index: 2;
        top: 75px;
    }

    a.navbar-brand {
        margin-right: auto;
        margin-left: 0;
    }

    .toggled .right-section {
        margin-left: 0;
        margin-top: 85px;
    }

    sidebar ul li a {
        font-size: 14px;
        padding: 10px 5px 10px 15px;
        margin: 10px 0;
    }

    div#navbarSupportedContent {
        border-top: solid 1px rgba(204, 204, 204, 0.3);
        width: 100%;
        text-align: center;
        padding-top: 7px;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .dataTables_paginate.paging_simple_numbers {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .report-h2 {
        margin: 0px;
        padding: 20px 0px 60px 20px;
        text-align: center;
    }

    .dataTables_filter label input {
        width: 300px;
        position: absolute;
        top: 0px;
        left: -27px;
    }

    .dataTables_filter .fa-search {
        z-index: 91;
        position: absolute;
        right: 4px;
        top: 15px;
        color: #ccc;
    }

    .w-40 {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .wrapper-in {
        padding: 15px;
    }

    .mob-mb-2 {
        margin-bottom: 2rem !important;
    }

    .logout-text {
        margin-top: -74px;
    }

    .welcome-text {
        margin-top: -62px;
        font-size: 13px;
    }

    .report-head {
        font-size: 12px;
        font-weight: 700;
    }

    .statement-tbl .dataTables_filter {
        width: 272px;
        position: absolute;
        right: 28px;
        top: -46px;
    }

    .footer-align {
        margin-top: auto !important;
        width: 100%;
        margin-left: 0px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .text-light-heading b {
        color: #fff;
        font-size: 13px;
    }

    .text-light-heading {
        color: #cbd5dc;
        font-size: 13px;
        text-transform: none;
    }

    .btn-green {
        background: #20aa5d;
        border-radius: 2px;
        border: transparent;
        padding: 10px 20px;
        box-shadow: 0px 3px 10px rgba(32, 170, 93, 0.3);
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        line-height: unset;
        margin-bottom: 15px;
        width: 94%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 328px) {
    .welcome-text {
        font-size: 14px;
    }
}


/*25-11-2019*/

.content-top {
    padding-top: 150px;
}

.cst-button {
    border-radius: 20px !important;
    padding: 10px !important;
    width: 70%;
    background-color: #00558c !important;
    font-weight: bold !important;
    margin-bottom: 20px;
}

.cst-closebutton {
    border-radius: 20px !important;
    padding: 10px !important;
    width: 70%;
    font-weight: bold !important;
    margin-bottom: 20px;
}

.cst-spacing {
    padding-right: 30px;
}

.cst-width {
    width: 15%;
}

.mt-right {
    margin-right: 30px;
}

.txt-clr1 {
    color: #00558c;
}


/*15,Jan2020*/

input:-webkit-autofill {
    background-color: red !important;
}

div#loginalert {
    margin-bottom: 2rem;
}

#login1 .form-group,
#accountguest .form-group {
    margin-bottom: 2rem;
}

#login1 .form-control:focus + label,
#login1 .form-control.active + label,
#accountguest .form-control:focus + label,
#accountguest .form-control.active + label {
    top: -15px !important;
}

div#img_contain.img-thumb-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    div#img_contain.img-thumb-container a {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px 5px;
    }

@media screen and (max-width: 767px) {
    #btnGuestPay {
        width: 100%;
        margin: 20px auto;
    }

    .content-top {
        margin-top: 30px;
    }
}


/** image upload css start **/

.upload-image-col,
.cst-image-col {
    padding: 20px;
}

.cst-image-col {
    margin-top: 20px;
    display: table;
    width: 100%;
}

#img_contain {
    width: 15%;
    float: left;
    height: auto;
    margin-right: 15px;
    margin-bottom: 10px;
}

    #img_contain img {
        width: 100%;
        height: auto;
    }

.upload-image-col .pay,
.cst-btn-col .pay {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #ff6004;
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #ff6004;
    font-weight: 500;
    margin: 32px 0 0;
    float: right;
}

    .upload-image-col .pay:hover,
    .cst-btn-col .pay:hover {
        background: #ff6004;
        border-color: transparent;
        color: #fff;
    }

.upload-image-col .custom-file-input {
    cursor: pointer;
}

.img-show {
    width: 100%;
    display: block;
}

.cst-pagination {
    float: right;
    margin: 10px 0 0;
}

    .cst-pagination li {
        text-align: center;
        margin-right: 10px;
    }

        .cst-pagination li a {
            color: #999;
            text-decoration: none;
            width: 30px;
            height: 30px;
            padding-top: 5px;
            font-size: 13px;
        }

    .cst-pagination .page-item:first-child .page-link,
    .cst-pagination .page-item:last-child .page-link,
    .cst-pagination .page-item.active .page-link {
        width: 30px;
        height: 30px;
        padding-top: 5px;
    }

    .cst-pagination .page-link:hover {
        color: #fff;
        background: #1668b6;
        border-color: #1668b6;
    }

.cst-btn-col .pay {
    float: none;
}

.cst-btn-col .cancel-btn {
    margin-left: 15px;
}

.cst-btn-col .cancel-btn {
    border: 2px solid #b8b8b8;
    color: #868686;
}

    .cst-btn-col .cancel-btn:hover {
        background: #868686;
        border-color: transparent;
        color: #fff;
    }

table.dataTable tbody tr.c.collapse.show {
    display: none !important;
}

.c.collapse:not(.show) {
    display: table-row;
}

@media(max-width:1286px) {
    .upload-image-col .pay {
        min-width: auto;
        padding: 5px 20px;
    }
}

@media(max-width:990px) {
    .upload-image-col .pay {
        float: left;
        min-width: 100px;
    }

    .main-heading {
        margin: 0 0 10px;
    }
}

@media(max-width:767px) {
    .main-heading {
        font-size: 18px
    }

    #img_contain {
        width: 48%;
        margin: 0 1%;
    }

    .upload-image-col .pay {
        font-size: 13px;
    }

    .cst-btn-col .pay,
    .cst-btn-col .cancel-btn {
        min-width: 100px;
        font-size: 13px;
    }
}

@media only screen and (max-width:480px) {
    .wrapper-ticket a {
        max-width: max-content;
    }

    .wrapper-ticket {
        justify-content: center;
    }


    .navbar-brand > img.logo {
        width: 60px;
    }

    a.icon-bar {
        margin-right: -18px;
        margin-top: 9px;
    }

    .main-heading {
        text-align: center;
    }

    .right-section .col-sm-6.text-right {
        text-align: center !important;
        margin-bottom: 15px;
    }

    h2.report-head.custom-head {
        height: auto;
        padding-bottom: 35px;
        text-align: center;
    }

    input.form-control.form-control-sm {
        position: relative;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: 0;
    }




    .achcomm a.all-delete-icon.del {
        left: 20px;
    }


    .achcomm a.all-delete-icon.del {
        left: 20px;
    }

    .achcomm h2.report-head.my-2 {
        text-align: center;
        height: 70px;
    }

    .achcomm a.all-delete-icon.del {
        left: 20px;
    }

    .data_table table.dataTable tbody td.child {
        padding: 0;
    }

    table.dataTable > tbody > tr.child ul.dtr-details {
        margin-left: 0.5rem;
    }

    .sent-item .col-md-6.text-right {
        text-align: center !important;
    }
}

@media only screen and (max-width:376px) {
    .dataTables_wrapper .dataTables_filter input {
        margin-left: 6rem;
        width: 250px;
    }
}

@media only screen and (max-width:325px) {
    nav.navbar.navbar-expand-lg.navbar-light.bg-custom {
        height: 130px;
    }

    ul.navbar-nav.custom-right-nav.w-100 {
        margin: 0;
    }

    #sidebar {
        z-index: 99;
    }

    .toggled .right-section,
    .right-section {
        margin-top: 130px;
    }

    input.form-control.form-control-sm {
        position: relative;
        width: 210px;
        right: 0;
        left: auto;
        margin-left: 7rem;
    }

    .achcomm a.all-delete-icon.del {
        left: 10px;
    }
}


/** image upload css end **/

@media only screen and (min-width:1600px) {
    .right-section button.btn.btn-orange-outline.mob-mb-2 {
        margin-right: 20px;
        margin-top: 20px !important;
    }
}


/*Loader CSS*/

.loader-wrapper {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.8);
}

    .loader-wrapper.show1 {
        display: flex;
    }

    .loader-wrapper.show2 {
        display: flex;
    }

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.joinIcon {
    width: 30px;
    /*padding-left: 10px;*/
}




/* 29-07-2020 dipendra */


.d-content-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-gold:hover {
    text-decoration: none;
    color: #fff;
}

.d-img-thumb {
    display: inline-block;
    width: 100%;
}

    .d-img-thumb img {
        margin: 0px 7px;
        border: solid 4px #d2d2d2;
        margin-bottom: 1rem;
    }

        .d-img-thumb img:hover {
            border: solid 4px #333333;
        }



/* 08-08-2020 */

.mod-padd {
    padding: 0px 4px 0 11px;
}

.content-popup-area {
    width: 70% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    margin: 0 auto;
    padding: 6rem;
}

/*23,Oct2020 SK*/

.modal-body.fix-h {
    max-height: calc(100vh - 220px);
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00548b;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #003253;
    }

/*23,Oct2020 End*/

/* 31 Oct 2020 (Lalit)*/
#tblAdvanceSearchCreate_filter {
    position: initial;
    width: 100%;
    top: 0;
    right: 0;
}

    #tblAdvanceSearchCreate_filter label input {
        width: 100% !important;
        position: initial !important;
    }

    #tblAdvanceSearchCreate_filter .fa-search {
        right: 23px !important;
        top: 29px !important;
    }

    #tblAdvanceSearchCreate_filter label {
        margin-bottom: 0px !important;
        margin-top: 20px;
    }

#tblAdvanceSearchCreate thead th {
    font-size: 14px !important;
}

#tblAdvanceSearchCreate tbody tr td {
    font-size: 14px !important;
}

.dis-f {
    display: flex;
}

.fld-tb {
    font-size: 12px !important;
    background: #156629 !important;
    color: white !important;
    cursor: pointer;
    padding: 4px 17px;
}

.td-s {
    padding: 7px 10px;
    text-align: right;
}

@media screen and (max-width:768px) {
    .fld-tb {
        padding: 4px 4px !important;
        font-size: 8px !important;
    }

    .data_table .table tbody td {
        padding: 10px 3px;
        font-size: 15px;
    }

    .td-s {
        padding: 7px 4px;
        text-align: center;
    }

    .tbl-over {
        overflow: auto;
    }
}

@media screen and (max-width:480px) {
    .d-img-thumb img {
        width: 100% !important;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.cst-fix-tb th {
    font-size: 12px;
}

.fix-btn-sp {
    position: relative;
    left: 9px;
}

/*files css starts*/

.file i {
    display: block;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 40px;
}

.word {
    background-image: url('/img_new/files_icon/word.png');
}

.excel {
    background-image: url('/img_new/files_icon/excel.png');
}

.pdf {
    background-image: url('/img_new/files_icon/pdf.png');
}

.text {
    background-image: url('/img_new/files_icon/text.png');
}

.rar {
    background-image: url('/img_new/files_icon/rar.png');
}

.powerpoint {
    background-image: url('/img_new/files_icon/powerpoint.png');
}

.video {
    background-image: url('/img_new/files_icon/video.png');
}

.mp3 {
    background-image: url('/img_new/files_icon/mp3.png');
}

.html {
    background-image: url('/img_new/files_icon/html.png');
}

.closed-folder {
    background-image: url('/img_new/files_icon/closed-folder.png');
}
/*files css ends*/

.btn-dark-green {
    background-color: #006400;
    color: #fff;
}

    .btn-dark-green:hover {
        color: #fff !important;
    }

#notificationModel img, #dashboardNotificationModel img {
    width: 100%;
}

#notificationModel .modal-title, #dashboardNotificationModel .modal-title {
    font-weight: bold;
}

#notificationModel label, #dashboardNotificationModel label {
    font-weight: 400;
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0.5 !important;
}

.fade.show {
    opacity: 1;
}

#Advertismenttable .row:first-child .action-button, #Advertismenttable .row:first-child label {
    display: block;
}

#Advertismenttable .row .action-button, #Advertismenttable .row label {
    display: none;
}

/*--thank you pop starts here--*/
.thank-you-pop {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

    .thank-you-pop img {
        width: 76px;
        height: auto;
        margin: 0 auto;
        display: block;
        margin-bottom: 25px;
    }

    .thank-you-pop h1 {
        font-size: 42px;
        margin-bottom: 25px;
        color: #5C5C5C;
    }

    .thank-you-pop p {
        font-size: 20px;
        margin-bottom: 27px;
        color: #5C5C5C;
    }

    .thank-you-pop h3.cupon-pop {
        font-size: 25px;
        margin-bottom: 40px;
        color: #222;
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        border: 2px dashed #222;
        clear: both;
        font-weight: normal;
    }

        .thank-you-pop h3.cupon-pop span {
            color: #03A9F4;
        }

    .thank-you-pop a {
        display: inline-block;
        margin: 0 auto;
        padding: 9px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        background-color: #8BC34A;
        border-radius: 17px;
    }

        .thank-you-pop a i {
            margin-right: 5px;
            color: #fff;
        }

#ignismyModal .modal-header {
    border: 0px;
}
/*--thank you pop ends here--*/
